html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Coda Caption', sans-serif;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    animation: open 0.5s;
}

@keyframes open {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0);
    }
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.card.close {
    transform: rotateY(0);
    background: #2e3d49;
    cursor: pointer;
    animation: close 0.5s;    
}

@keyframes close {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(180deg);
    }    
}

.card.wrong {
    background: #c12a0d;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.timer {
    display: inline-block;
    margin-left: 40px; 

}

/*modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background: #fefefe;
    margin: auto;
    width: 50%;
    top: 20%;
    text-align: center;
    border: 1px solid #888888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    font-family: 'Coda Caption', sans-serif;    
}

.modal-close {
    color: grey;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.modal-close:hover {
    color: #2e3d49;
    cursor: pointer;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 5px;
}

.modal-header {
    color: #c14a0d;
}

.modal-button {
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}
